<script type="text/ng-template"  id="undone_item.html">
    {{data.name}}
    <div class="output-box" 
		 ng-class="{ 'selected-output': $index==selectedOutput }">
		 	<span class="input-line">{{line.input || '&nbsp;'}}</span>
		 	<span ng-bind-html="line.output | to_trusted"
		 		  class="output-line"
		 		  id="{{ $last ? 'lastCommand' : ''}}">
	 		</span>
	</div>
	<div class="sub-undo-group"
		 ng-repeat="line in line.undone track by $index"
		 ng-include="'undone_item.html'">
		
	</div>
</script>

<div class="output-container">
	<div id="output-area" 
		 class="output-pushdown">
		<div class="top-undo-group"
			 ng-repeat="line in outputLines track by $index">
			<div class="output-box" 
				 ng-class="{ 'selected-output': $index==selectedOutput }">
				 	<span class="input-line">{{line.input || '&nbsp;'}}</span>
				 	<span ng-bind-html="line.output | to_trusted"
				 		  class="output-line"
				 		  id="{{ $last ? 'lastCommand' : ''}}">
			 		</span>
			</div>
			<div class="sub-undo-group"
				 ng-repeat="line in line.undone track by $index"
				 ng-include="'undone_item.html'">
				
			</div>
		</div>
	</div>
</div>
<div class="command-input-container">
	<span class="cursor">> </span>
	<span class="command-input">
		<input ng-model="command" 
			   on-press-enter="addOutputLine(command)"
			   focus-me="focusInput"
			   on-press-up="decrementOutputSelection()"
			   on-press-down="incrementOutputSelection()"/>
	</span>
</div>