<div class="output-container">
	<div id="output-area" class="output-pushdown">
		<div class="output-box" 
			 ng-repeat="line in outputLines track by $index">
			 	<span class="input-line">{{line.input || '&nbsp;'}}</span>
			 	<span class="output-line" id="{{ $last ? 'lastCommand' : ''}}">
		 			  {{line.output}}</span>
		</div>
	</div>
</div>
<div class="command-input-container">
	<span class="cursor">> </span>
	<span class="command-input">
		<input ng-model="command" 
			   on-press-enter="addOutputLine(command)"/>
	</span>
</div>